.markdown-body {
  overflow: hidden;
    font-family:Short Stack,Ma Shan Zheng!important;
    .header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
    font-weight: 600;
    font-size: 14px;
    background: linear-gradient(90deg, #715868 0%, #17295f 100%);
    box-shadow: 0 16px 32px -16px rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 50px 50px;
    .logo {
      height: 3em;
      padding: 1.5em;
      will-change: filter;
      transition: filter 300ms;
    }

    .logo:hover {
      filter: drop-shadow(0 0 2em #646cffaa);
    }
  }

  .content {
    margin-top: 50px;
    overflow: hidden;
}
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.progress {
  position: fixed;
  z-index: 200;
  left: 0;
  right: 0;
  top: 0;
  height: 5px;
  bottom: 100px;
  border-radius: 10px;
  background: linear-gradient(90deg, #97748a 0%, #5971bb 100%);
}